doctype html
html
  head
    title Simple site using Node.js, Express and Pug
    link(rel='stylesheet', href="/css/style.css")
    block styles
    script(src="/js/main.js")
    block scripts
  body
    include common/header.pug
    block content
    include common/footer.pug