extends ../layout.pug

block content
  //  header complete 
  section.properties
    .banner-main
      .container
        .banner-content
          h1 Park City Old Town Miner's
    .container
      .properties-form
        .left-block
          div
            p.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              
            p.
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
              
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          div
            h3 Amenities
            .listing
              table
                tbody
                  tr(style="font-size: 20px;")
                    td bathtub
                    td bathtub
                    td bathtub
                    td bathtub
                  tr(style="font-size: 20px;")
                    td bathtub
                    td bathtub
                    td bathtub
                    td bathtub
                  tr(style="font-size: 20px;")
                    td bathtub
                    td bathtub
                    td bathtub
                    td bathtub
                  tr(style="font-size: 20px;")
                    td bathtub
                    td bathtub
                    td bathtub
                    td bathtub
        .right-block
          form(action="action-page")
            fieldset
              legend Request a quote
              label(for) Name
              input(type="text")
              label(for) Email
              input(type="text")
              label(for) Phone
              input(type="text")
              label(for) Stay Date
              input(type="date", name)
              label(for) Number of guests
              input(type="number", name)
              label(for) Notes
              textarea(name, cols="30", rows="10")
              .form-button
                button(type="submit") Send Request
      div
        h2 Nearby Properties
      .img-section
        a(href="editprofile.html").
          
          
        .box-img
          a(href="editprofile.html")
            .img
              img(src="images/pexels-photo-572897.jpeg", alt)
          div
            a(href="editprofile.html").
              
              
            h5
              a(href="editprofile.html")
              a.park-city(href="#") Park City Old Town Miner's Cottage
        a(href="editprofile.html").
          
          
        .box-img
          a(href="editprofile.html")
            .img
              img(src="images/pexels-photo-572897.jpeg", alt)
          div
            a(href="editprofile.html").
              
              
            h5
              a(href="editprofile.html")
              a.park-city(href="#") Park City Old Town Miner's Cottage
        a(href="editprofile.html").
          
          
        .box-img
          a(href="editprofile.html")
            .img
              img(src="images/pexels-photo-572897.jpeg", alt)
          div
            a(href="editprofile.html").
              
              
            h5
              a(href="editprofile.html")
              a.park-city(href="#") Park City Old Town Miner's Cottage