extends ../layout.pug

block content
  //  Featured Properties-start 
  .banner-main
    .container
      .banner-content
        h1 Properties
  section.featured-properties
    .container
      .featured-content
        h2
        .main-box
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img02.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Park City Old Town Miner's Cottage
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img02.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Beautiful Deer Valley Condo.
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img03.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Deer Valley Retreat
        .main-box
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img02.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Park City Old Town Miner's Cottage
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img02.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Beautiful Deer Valley Condo.
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img03.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Deer Valley Retreat
        .main-box
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img02.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Park City Old Town Miner's Cottage
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img02.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Beautiful Deer Valley Condo.
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img03.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Deer Valley Retreat
        .main-box
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img02.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Park City Old Town Miner's Cottage
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img02.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Beautiful Deer Valley Condo.
          a(href="editprofile.html").
            
            
          .box-img
            a(href="editprofile.html")
              img(src="images/img03.png", all)
            h5
              a(href="editprofile.html")
              a.park-city(href) Deer Valley Retreat
  //  Featured Properties-end 