footer 
    div.container
        div.footer-section
            div.logo
                a(href="/") Exploria
            div.center-footer
                div.footer-menu
                    ul
                        li
                            a(href="/") Home
                        li
                            a(href="/properties") Explore
                        li
                            a(href="/about") About
                        li
                            a(href="/contact") Contact Us
                div
                    p Copyrights &copy; Exploria - 2022