header.header
    div.container
        div.header-section
            div.logo
                a(href='/') Exploria
            div.navigation-menu
                ul
                    li 
                        a(href="/") Home
                    li
                        a(href="/properties") Explore
                    li
                        a(href="/about") About Us
                    li
                        a(href="/contact") Contact Us
            div.right-menu
                ul
                    li
                        a(href="/register") Register
                    li
                        a(href="/login") Login