extends ../layout.pug

block content
    //  Contact Information-start 
    section.contact-information
    .contact-all-information
        .main-iframe
        iframe.map-main(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.7806761080233!2d-93.29138368446431!3d44.96844997909819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32b6ee2c87c91%3A0xc20dff2748d2bd92!2sWalker+Art+Center!5e0!3m2!1sen!2sus!4v1514524647889", width="100%", height="450", frameborder="0", style="border:0", allowfullscreen)
        .information-content
        .container
            form(action="action-page")
            fieldset
                legend Contact Information
                .main-form
                .block
                    .left-block
                    .main-input
                        label First Name
                        input.iput-content(type="text")
                    .main-input
                        label Email
                        input.iput-content(type="text")
                    .right-block
                    .main-input
                        label Last Name
                        input.iput-content(type="text")
                    .main-input
                        label Phone
                        input.iput-content(type="text")
                label Message
                .area
                    textarea.text-content(name, cols="30", rows="10")
                .form-button.bt-form
                    button.button(type="submit") Submit
    //  Contact Information-end 